// 引用base
@import url(base.less);
@import url(adapter.less);

//首页头部
.mmm_head {
  height: 98/50rem;
  background-color: #ff841d;
  position: relative;
  .left {
    width: 373/50rem;
    height: 53/50rem;
    background: url(../images/header_logo.png) 0 0 no-repeat;
    .center-y();
    .bgz();
    left: 32/50rem;

  }
  .right {
    width: 70/50rem;
    height: 68/50rem;
    background: url(../images/header_app.png) 0 0 no-repeat;
    .center-y();
    .bgz();
    right: 14/50rem;

  }
}

//搜索
.mmm_search {
  height: 102/50rem;
  text-align: center;
  background-color: #fff;

  .ipt1 {
    width: 570/50rem;
    height: 60/50rem;
    line-height: 60/50rem;
    background-color: #f1f1f1;
    border-radius: 30/50rem;
    margin-top: 22/50rem;
    text-indent: 38/50rem;
  }
  .ipt2 {
    width: 128/50rem;
    height: 60/50rem;
    border-radius: 30/50rem;
    color: #fff;
    background-color: #ff841d;
  }
}

//中间产品
.brandItems {
  h3 {
    font-size: 16px;
    color: #874604;
    height: 1.6rem;
    line-height: 1.6rem;
    padding-left: 0.4rem;
    margin: 0.4rem 0.2rem;
    background-color: #eee;
    border: 1px solid #ccc;
  }
  .wrap {
    border-radius: 0.2rem;
    background-color: #ededed;
    font-size: 14px;
    color: #666;
    border: 1px solid #ccc;
    li {
      height: 1.6rem;
      line-height: 1.6rem;
      padding-left: 0.64rem;
      color: #000;
      font-size: 16px;
      border-bottom: 1px solid #ccc;
      font-weight: bold;
      a {
        display: block;
        position: relative;
        color: #000;

        img {
          width: 28/50rem;
          height: 30/50rem;
          vertical-align: middle;
          display: inline-block;
          position: absolute;
          right: 28/50rem;
          top: 30/50rem;
        }
      }
    }
  }
}

//尾部
.foot {
  height: 243/50rem;
  .foot_login {
    height: 66/50rem;
    margin-top: 50/50rem;
    border: 1px solid #ccc;
    box-sizing: border-box;

    a {
      display: block;
      width: 100%;
      line-height: 66/50rem;
      text-align: center;
    }
    .register {
      width: 30%;
      height: 67/50rem;
      border-right: 1px solid #ccc;
      .fl();
      box-sizing: border-box;
    }
    .login {
      width: 30%;
      height: 67/50rem;
      border-right: 1px solid #ccc;
      .fl();
      box-sizing: border-box;
    }
    .back {
      width: 40%;
      height: 67/50rem;
      .fl();
      box-sizing: border-box;
      position: relative;
      img {
        width: 28/50rem;
        height: 29/50rem;
        .center-y();
        left: 80/50rem;

      }
    }
  }
  .baseline {
    height: 124/50rem;
    text-align: center;
    box-sizing: border-box;
    padding-top: 34/50rem;
    padding-bottom: 34/50rem;
    .download {
      color: red;
    }
    .phone {
      color: #000;
    }
    span {
      color: #ccc;
    }
  }
}